#content_bin {
    margin-left: 175px;
    padding-top: 15px;
    width: calc( 100vw - 205px );
}
#root {
    height: 100vh;
    overflow-y: scroll;
}

#mob-stats .field,
#mob-stats .field input,
#mob-stats .field textarea {
    width: 100%;
    max-width: 100%;
}

.field label {
    text-align: left;
}

#areas-list .list,
#mobs-list .list {
    text-align: left;
}

#object-stats .field,
#object-stats .field input,
#object-stats .field textarea {
    width: 100%;
    max-width: 100%;
}

.field label button.ui.icon.button {
    padding: 0;
    display: inline;
    background: transparent;
    color: rgba(0,0,0,.87);
}
#dashboard p {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

#mobs-list .list .item .ui.text.menu a {
    padding: 0;
}

#mobs-list .list .item .ui.text.menu a:after {
    content: "|";
    padding: 5px;
}

#mobs-list .list .item .ui.text.menu a:last-of-type:after {
    content: "";
    padding: 0;
}

#mobs-list .list .item .ui.text.menu {
    margin: 0;
    padding: 0;
}


.ui.segment.scale.visible.transition {
    text-align: center;
}

.ui.container {
	padding: 2em;
	border: 1px solid #ececec;
	background-color: #fff;
	margin: 2em 0;
}