#content_bin {
    margin-left: 175px;
    padding-top: 15px;
    width: calc( 100vw - 205px );
}
#root {
    height: 100vh;
    overflow-y: scroll;
}

#mobs-list .item {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 1em 0;
    padding: 0.5em 0 0.5em 2em;
    text-align: left;
}
#mobs-list .item:hover,
#mobs-list .item.active {
    background-color: #000;
    color: #fff;
}
#mobs-list .item:hover .header,
#mobs-list .item.active .header {
    color: #fff;
}
    #mobs-list .item:hover .description,
    #mobs-list .item.active .description {
        color: rgba(255, 255, 255, 0.7);
    }

.field label {
    text-align: left;
}