body {
    font-family: 'Montserrat', sans-serif;
}
#content_bin {
    padding-top: 15px;
    width: calc( 100vw - 225px );
    max-width: 1300px;
    margin: 0 auto;
}
#root {
    height: 100vh;
    overflow-y: scroll;
}

#mob-stats .field,
#mob-stats .field input,
#mob-stats .field textarea {
    width: 100%;
    max-width: 100%;
}

.field label {
    text-align: left;
}

#areas-list .list,
#mobs-list .list {
    text-align: left;
}

#object-stats .field,
#object-stats .field input,
#object-stats .field textarea {
    width: 100%;
    max-width: 100%;
}

.field label button.ui.icon.button {
    padding: 0;
    display: inline;
    background: transparent;
    color: rgba(0,0,0,.87);
}
#dashboard p {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

#mobs-list .list .item .ui.text.menu a {
    padding: 0;
}

#mobs-list .list .item .ui.text.menu a:after {
    content: "|";
    padding: 5px;
}

#mobs-list .list .item .ui.text.menu a:last-of-type:after {
    content: "";
    padding: 0;
}

#mobs-list .list .item .ui.text.menu {
    margin: 0;
    padding: 0;
}


.ui.segment.scale.visible.transition {
    text-align: center;
}

.ui.container {
	padding: 2em;
	border: 1px solid #ececec;
	background-color: #fff;
	margin: 2em 0;
}

.ui.container .header {
	overflow: visible;
}

.ui.container .header button {
    position: absolute;
    top: -7px;
    color: #fff;
    min-width: 150px;
    background-color: #ff5900;
    text-shadow: 1px 1px 1px #282c34;
}

.container .segments .segment.exit {
    padding-top: 75px;
}

.container .segments .segment.exit .rail .segment {
    background-color: #ececec;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.ui.celled.grid,
.ui.celled.grid>.row {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui.celled.grid {
    border: 1px solid #d4d4d5;
    border-radius: 1em;
}
.ui.celled.grid > row {
    padding: 1em;
}
.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
    padding: 3em 1em;
}